<nav class='bio-tabs tabs' data-group='primary'>
    <a class='item' data-tab='bio-background'>{{localize 'CANDELAFVTT.background'}}</a>
    <a class='item' data-tab='bio-scars'>{{localize 'CANDELAFVTT.scars'}}</a>
    <a class='item' data-tab='bio-style'>{{localize 'CANDELAFVTT.style'}}</a>
    <a class='item' data-tab='bio-catalyst'>{{localize 'CANDELAFVTT.catalyst'}}</a>
    <a class='item' data-tab='bio-question'>{{localize 'CANDELAFVTT.question'}}</a>
    <a class='item' data-tab='bio-illuminationKeys'>{{localize 'CANDELAFVTT.illuminationKeys'}}</a>
</nav>

<section class='bio-body'>

    <div class='tab biography' data-group='primary' data-tab='bio-background'>
        {{editor system.background target='system.background' rollData=rollData button=true owner=owner editable=editable engine='prosemirror' class='prosemirror-editor'}}
    </div>
    <div class='tab biography' data-group='primary' data-tab='bio-scars'>
        {{editor system.scars target='system.scars' rollData=rollData button=true owner=owner editable=editable engine='prosemirror' class='prosemirror-editor'}}
    </div>
    <div class='tab biography' data-group='primary' data-tab='bio-style'>
        {{editor system.style target='system.style' rollData=rollData button=true owner=owner editable=editable engine='prosemirror' class='prosemirror-editor'}}
    </div>
    <div class='tab biography' data-group='primary' data-tab='bio-catalyst'>
        {{editor system.catalyst target='system.catalyst' rollData=rollData button=true owner=owner editable=editable engine='prosemirror' class='prosemirror-editor'}}
    </div>
    <div class='tab biography' data-group='primary' data-tab='bio-question'>
        {{editor system.question target='system.question' rollData=rollData button=true owner=owner editable=editable engine='prosemirror' class='prosemirror-editor'}}
    </div>
    <div class='tab biography' data-group='primary' data-tab='bio-illuminationKeys'>
        {{> 'systems/candelafvtt/templates/actor/parts/actor-illumination-keys.hbs' }}
    </div>

</section>